<#@ include file="Render.t4" #><##>
<##>
<#= Render(@"T4\Kit.t4", new Dictionary<string, object>
{
	["ClassName"] = "TileMap",
	["Scripts"] = new Dictionary<string, string>
	{
		["fabricjs"] = "https://cdn.jsdelivr.net/npm/fabric",
	},
}) #>